
Tierratemp.png
Tierraprec.png~
Tierraprec.png
terratrolas.png
terraidea.png
terra3.png
terra2.jpg
pyinstaler.txt
pyinstaler.bat
prueba2
main2.py
humee.png
guardar aca.png
main.spec
Bump.bmp
build
.MAscara.png-autosave.kra
biomas.png
calculadoras\test.py